/CLAUDE.md
/collab
/exercises
/lecture-0.aux
/lecture-0.fdb_latexmk
/lecture-0.fls
/lecture-0.log
/lecture-0.out
/lecture-0.synctex.gz
/lecture-0.tex
/lecture-0.thm
/lecture-1-slides.aux
/lecture-1-slides.fdb_latexmk
/lecture-1-slides.fls
/lecture-1-slides.log
/lecture-1-slides.nav
/lecture-1-slides.out
/lecture-1-slides.pdf
/lecture-1-slides.snm
/lecture-1-slides.synctex.gz
/lecture-1-slides.tex
/lecture-1-slides.toc
/lecture-1.aux
/lecture-1.bbl
/lecture-1.blg
/lecture-1.fdb_latexmk
/lecture-1.fls
/lecture-1.log
/lecture-1.out
/lecture-1.synctex.gz
/lecture-1.tex
/lecture-1.thm
/lecture-2-slides.pdf
/lecture-2-slides.tex
/lecture-2.aux
/lecture-2.bbl
/lecture-2.blg
/lecture-2.fdb_latexmk
/lecture-2.fls
/lecture-2.log
/lecture-2.out
/lecture-2.pdf
/lecture-2.tex
/lecture-2.thm
/lecture-3-slides.pdf
/lecture-3-slides.tex
/lecture-3.pdf
/lecture-3.tex
/lecture-4-slides.pdf
/lecture-4-slides.tex
/lecture-4.pdf
/lecture-4.tex
/lecture-5-slides.pdf
/lecture-5-slides.tex
/lecture-5.pdf
/lecture-5.tex
/legacy
/references.bib